<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="sync_OMS_SFC_writeToCenDB_wms_WS_Binder" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.18.143.212:5555/ws/sync_OMS_SFC:writeToCenDB_wms_WS/sync_OMS_SFC_writeToCenDB_wms_WS_Port"
                binding="basicHttpBinding" bindingConfiguration="sync_OMS_SFC_writeToCenDB_wms_WS_Binder"
                contract="ServiceReference1.writeToCenDB_wms_WS_PortType"
                name="sync_OMS_SFC_writeToCenDB_wms_WS_Port" />
        </client>
    </system.serviceModel>
</configuration>